Relax IPP parsing to support Xerox print servers

**Describe the bug**

`lpadmin -p areawide -E -v ipp://IPP/ipp/print -m everywhere` fails because the printer returns an invalid IPP reply.

This issue corresponds to discussion https://github.com/OpenPrinting/cups/discussions/1221

**To Reproduce**
Run the command `lpadmin -p areawide -E -v ipp://IPP/ipp/print -m everywhere` where the IP points to a Xerox PrimeLink C9265.

`ipptool -tv ipp://MYIP/ipp/print get-printer-attributes.test | grep Bad`
returns
```
        status-code = client-error-bad-request ("media-description-supported": Bad keyword value "Xerox Color Xpressions+ Select Paper, 24lb., 98 Bright, 8.5" x 11"" - invalid character (RFC 8011 section 5.1.4).)
        "media-supported": Bad keyword value "Letter 90 gsm Xpressions+ Select Color" - invalid character (RFC 8011 section 5.1.4).
        "media-key-supported": Bad keyword value "Letter 90 gsm Xpressions+ Select Color" - invalid character (RFC 8011 section 5.1.4).
        "media-description-supported": Bad keyword value "Xerox Color Xpressions+ Select Paper, 24lb., 98 Bright, 8.5" x 11"" - invalid character (RFC 8011 section 5.1.4).
```

**Expected behavior**

`lpadmin -p areawide -E -v ipp://IPP/ipp/print -m everywhere` would do the best possible making the queue, either fixing or ignoring invalid keywords.

**Screenshots**

not applicable

**System Information:**
 - OS: AlmaLinux release 9.5 (Teal Serval)
 - Application: running bash commands for testing
 - CUPS version: cups-2.3.3op2-31.el9_5.x86_64

Since `lpadmin ... -e everywhere` didn't work, I made the print queue with `lpadmin -p areawide -E -v ipp://MYIP/ipp/print -P xrxC9265.ppd`

`lpstat -l -e` returns
```
areawide permanent ipp://localhost/printers/areawide ipp://MYIP/ipp/print
```
`lpoptions -p areawide -l` returns
```
PageSize/Media Size: Custom.WIDTHxHEIGHT *Letter Legal Tabloid Postcard4x6 5x7 Statement Executive 8x10 FanFoldGermanLegal 9x11 11x15 TabloidExtra 12.6x19.2 13x18 13x19 A3 310x432mm SRA3 A4 A5 A6 B4 B5 B6 100x148Postcard 148x200Postcard 226x310mm 215x315mm KAI8 KAI16 Env10 EnvChou3 EnvKaku2 EnvC4 EnvC5 A4Oversized 270x390 195x270
MediaType/Media Type: *PrinterDefault Plain Punched LightWeightPunched CardStockPunched CardStockHeavyPunched CardStockExtraHeavyPunched Transparency Heavyweight ThinCardStock HeavyweightCardstock HeavyweightCardstockExtra Recycled Labels HeavyweightLabels ExtraHeavyweightLabels Preprinted Custom1 Custom2 Custom3 Custom4 Custom5 Envelope StationeryGlossy GlossyCard HeavyweightGlossyCardstock HeavyweightGlossyCardstockReloaded TabStock TabCardStock HeavyTabCardStock ExtraHeavyTabCardStock Other Transfer TexturedEmbossed AutoSelect Letterhead
MediaColor/MediaColor: Unspecified *White Blue Yellow Green Pink Clear Ivory Gray Buff Goldenrod Red Orange CustomColor1 CustomColor2 CustomColor3 CustomColor4 CustomColor5 Other Auto
Duplex/2 Sided Printing: *None DuplexNoTumble DuplexTumble
Collate/Collated: *True False
InputSlot/InputSlot: *Tray1 Tray2 Tray3 Tray4 Tray5 Tray6 Tray7
StapleLocation/Stapling: *None SinglePortrait SingleLandscape DualPortrait DualLandscape
XRPunchOption/Hole Punch: *None 2Punch 2HolePunchLandscape 3Punch 3PunchLandscape 4Punch 4HolePunchLandscape
XRFoldOption/Fold: *None BiFold BiFoldAndStaple
OutputMode/Print Quality: *HighSpeed HighQuality HighResolution
JCLBanner/Banner Sheet: False *True
JCLJobType/Job Type: *Normal
```

**Additional context**
I have attached the results of `ipptool -tv ipp://MYIP/ipp/print get-printer-attributes.test` with the IP address modified.

I also attached a PPD which might help decode some of the ipptool returns.

I am willing to build and install a patched version of CUPS on my test server.

[ipptool.txt](https://github.com/user-attachments/files/19694711/ipptool.txt)

[xrxC9265.txt](https://github.com/user-attachments/files/19694717/xrxC9265.txt)


Thank you for looking at it! I'll ask about the firmware. I don't have physical access to the printer.

@michaelrsweet I have some interest in trying to get CUPS to work with that Xerox printer. 
Can I just do something like the patch below or is it a deeper issue?
The configure and make ran cleanly. It looks like CUPS won't run unless I install it. Can it co-exist with the CUPS from the AlmaLinux9 distribution as long as I don't try to run both at the same time?
I could build the same version as in AlmaLinux9 and apply RedHat's patches, but I think that working with master is better.
I need to print PDFs without having CUPS convert them to PS with gs. I am currently using a queue that I created with `lpadmin -p areawide -E -v ipp://MYIP/ipp/print -P xrxC9265.ppd` . I can print PDFs with `-o raw`, but it looks like the options for folding and stapling don't pass through. I am hoping that creating a queue with `-m everywhere` instead of the PPD will expose more of the printer's capabilities for PDFs. 
```
diff --git a/cups/ipp.c b/cups/ipp.c
index 04673d6f0..c0cfaa89a 100644
--- a/cups/ipp.c
+++ b/cups/ipp.c
@@ -3944,7 +3944,7 @@ ippValidateAttribute(
        {
          for (ptr = attr->values[i].string.text; *ptr; ptr ++)
          {
-           if (!isalnum(*ptr & 255) && *ptr != '-' && *ptr != '.' && *ptr != '_')
+           if (!isalnum(*ptr & 255) && *ptr != '-' && *ptr != '.' && *ptr != '_' && *ptr != '+')
              break;
          }
 
```


> [@michaelrsweet](https://github.com/michaelrsweet) I have some interest in trying to get CUPS to work with that Xerox printer. Can I just do something like the patch below or is it a deeper issue?

You would open your machine for any IPP responses which include the '+', even the malicious ones. Tbh you could try ignore any invalid values in the response and try to create PPD without them.

> The configure and make ran cleanly. It looks like CUPS won't run unless I install it. Can it co-exist with the CUPS from the AlmaLinux9 distribution as long as I don't try to run both at the same time? 

I would say at least Selinux will complain.

> I can print PDFs with `-o raw`, but it looks like the options for folding and stapling don't pass through. 

Yeah, because that's what raw printing does - sends a file to a printer as it is without applying any options or filters locally. But you can try sending IPP attribute and value as options since you use IPP - those attributes get sent as part of protocol, so they are not applied locally on file, but if the printer understands them, they are applied on the job in the device itself.



Do you talk to the Xerox printer directly, or to a FIERY RIP-Server (which is often attached to these PrimeLink models)?

@william8000 Probably the first place to look is to "bypass" the validation check in the PPD generator.

Thanks!
I suspect that I am going through the Fiery server.
`snmpget -v1 -c public MYIP 1.3.6.1.2.1.1.1.0` returns
```
SNMPv2-MIB::sysDescr.0 = STRING: Xerox PrimeLink C9265 with Xerox EX-i C9265 Print Server Powered by Fiery;SW1.0, System 86.3.20,  ESS 1.0.8,  IOT 80.9.0,  HCF 50.17.0,  Finisher C 3.5.0,  ADF 1.45.0,  Booklet  0.35.0,  RSEP 3.0.4
```


@michaelrsweet Thank you for the reply.

> You would open your machine for any IPP responses which include the '+', even the malicious ones. Tbh you could try ignore any invalid values in the response and try to create PPD without them.

All of the '+' signs seem to be in sequences like "Xerox Color Xpressions+" in media-related replies, and I am not going to use that paper, so I think that I can just strip the '+' signs. I contacted Xerox, but I wasn't successful in reaching someone technical enough to understand the issue.

> I would say at least Selinux will complain.

I can deal with that if it will be the biggest problem. I have set up selinux for some of my own applications, and I can also check how AlmaLinux9 configures selinux for its distributed CUPS.

> Yeah, because that's what raw printing does - sends a file to a printer as it is without applying any options or filters locally.
> But you can try sending IPP attribute and value as options since you use IPP

Thanks. That is what I was curious about.



I'm not sure why master isn't working - "lpstat -t" shouldn't be involving Avahi but the "simple-watch.c" reference is an abort from the Avahi client library...

WRT 2.4.12, you can run the lpadmin command but if the PPD creation (later) fails in cupsd, it will actually remove the queue. The /var/log/cups/error_log file should contain errors if that is the case.

WRT print-quality, ipptool is reporting the symbolic name, so you can use that *or* the integer (enum) value - 3 = draft, 4 = normal, 5 = high. Older versions of CUPS did not map symbolic names to their integer equivalents...


We'll continue to work on this with Xerox to hopefully resolve the IPP conformance issues so it will work without changes to CUPS.

Thanks! In the end, we never found a way to pass the options that we needed with lp, but we were able to set up a virtual queue on the Xerox print server with pre-set options to make folded and stapled books, and then we could print pdfs to that queue with lp -o raw. 
