Error adding printer: 'Bad DateTime UTC hours 13' in New Zealand

**Before you write the report**
Read the [REPORTING_ISSUES.md](https://github.com/OpenPrinting/cups/blob/master/REPORTING_ISSUES.md) file in the main repository and prepare data mentioned there which looks relevant to you issue.

**Describe the bug**
Kia ora team!

When I add a new printer via IPP into CUPS I am getting the error message:

> Unable to add printer:
>   `Printer returned invalid data: "printer-config-change-date-time": Bad dateTime UTC hours 13 (RFC 8011 section 5.1.15).`

Our printer is set to New Zealand Daylight Time which is 13 hours ahead of UTC time. I found in the code that any UTC offset greater than 11 triggers this error message.

I will submit a pull request shortly with a suggested fix.

**To Reproduce**
Steps to reproduce the behavior:
1. Prepare an IPP printer configured to a New Zealand timezone (either Daylight Time UTC+13 or Standard Time UTC+12 should trigger this issue).
2. Click on 'Add Printer' under the CUPS Web UI Administration page
3. Create the printer using its IP address and 'IPP Everywhere' driver
4. At the point of contacting the printer and getting printer attributes, CUPS displays the "Unable to add printer" error.

**Expected behavior**
The printer is added successfully.

**System Information:**
 - OS and its version: Ubuntu 24.04
 - Printer: Canon imageRunner Advance C5850
 - CUPS version: tested on 2.4.11

**Additional Information:**
My Wireshark capture is intermittently crashing my Wireshark, making this difficult, but in one capture it displayed the IPP `printer-config-change-date-time` data as:

```
printer-config-change-date-time (dateTime): 2025-03-14T15:23:42.0+1300
    name: printer-config-change-date-time
    dateTime value: 2025-03-14T15:23:42.0+1300
```

In Hex the dateTime value shows as: `07 e9 03 0e 0f 17 2a 00 2b 0d 00`.

I found the line:

https://github.com/OpenPrinting/cups/blob/3eaf385b30d5dedb2257a4e11964188a3aad61b9/cups/ipp.c#L3739

To be the issue. This checks whether the timezone hours offset from UTC field is greater than '11', and produces the error if so.

In NZ, the Standard Time UTC+12 offset, and the Daylight Time UTC+13 offset, will both fail this check.

I see this is meant to be based on RFC8011, although this doesn't specify any range but is based on [RFC2579](https://www.rfc-editor.org/rfc/rfc2579) page 18. In RFC2579 it does say that the 'range' for this offset should be `0..13` as NZ daylight saving time is UTC+13.

I have created a pull request #1202 that makes this change.

I do also feel it is relevant to comment here that Kiribati actually uses the UTC+14 time zone offset for its Line Islands region: https://en.wikipedia.org/wiki/UTC%2B14:00 , and a printer in this timezone would still show this error.

However, that's not covered in the RFC2579 document as being a valid `DateAndTime`, therefore CUPS should (probably) stick with the RFC rule.

The RFC should be updated, but I'm not sure how to submit a pull request to an RFC though!

@tbigby-kristin I think it is appropriate for us to increase the upper bound to 14, the goal is to be able to express date/time values with timezone information, so if there are places that are using +14 hours, we need to support it regardless of the RFC.

I've filed an errata report for RFC 2579... :)


CUPS fixes:

[master 794256362] Extend datwTime validation to UTC+14 (Issue #1201)

[2.4.x bc8367e58] Extend datwTime validation to UTC+14 (Issue #1201)

libcups fix:

[master 575d4cdbc] Extend datwTime validation to UTC+14.


Wonderful, agreed, thank you very much @michaelrsweet !